### header info

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('SampleTwitterData.csv')

In [6]:
data

    tweet_id  postweets  negtweets  nuttweets
0          4          1          0          0
1          5          0          1          0
2          6          0          0          1
3          7          1          0          0
4          8          1          0          0
5          9          1          0          0
6         10          0          1          0
7         11          0          1          0
8         12          0          1          0
9         13          0          0          1
10        14          0          0          1
11        15          0          0          1