In [3]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [4]:
#df = pd.read_csv('vaccinationbydatew3sentimentolddata.csv')
df = pd.read_csv('vaccinationbydatew3sentimentolddatawNLTK.csv')
df

,normalized_date,Administered,textblob_agg_sentiment,nltk_agg_sentiment,Vader_agg_sentiment
0,12/12/2020,0,266.809773,-1852.2,945
1,12/13/2020,0,1028.275394,-3371.2,2254
2,12/14/2020,0,2150.804429,-6192.4,5617
3,12/15/2020,0,2651.532405,-10230.0,5850
4,12/16/2020,1550,2293.536591,-7689.6,5040
...,...,...,...,...,...
234,8/28/2021,187527313,38893.299800,-248911.2,53480
235,8/29/2021,187931878,52503.885040,-275948.4,65208
236,8/30/2021,188210989,48787.937400,-161447.4,43947
237,8/31/2021,188463948,48757.989500,-161565.6,129564
238,9/1/2021,188923898,60993.034330,-276955.8,128238

In [5]:
df.sort_values(by = 'normalized_date',ascending = False, inplace=True)
df

,normalized_date,Administered,textblob_agg_sentiment,nltk_agg_sentiment,Vader_agg_sentiment
238,9/1/2021,188923898,60993.034330,-276955.8,128238
215,8/9/2021,179765766,119118.961600,-468241.2,310412
214,8/8/2021,179452814,60765.743010,-213848.6,168714
213,8/7/2021,178994172,40030.285050,-146565.6,117196
212,8/6/2021,178477208,94131.117000,-334322.8,245196
...,...,...,...,...,...
32,1/13/2021,8025521,1458.262976,-3751.8,3552
31,1/12/2021,7469123,2256.229885,-1484.0,5830
30,1/11/2021,7183660,1420.853516,-2436.6,2139
29,1/10/2021,6834388,1653.385786,-2643.2,4248
20,1/1/2021,3313983,641.879949,-3344.0,-760

In [6]:
# c = [n-nn for n,nn in zip(df['Administered'],df['Administered'][1:]+[0])]
# c.append(0)

In [7]:
# c

In [8]:
# df['AdministeredbyDay'] = c

In [9]:
df

,normalized_date,Administered,textblob_agg_sentiment,nltk_agg_sentiment,Vader_agg_sentiment
238,9/1/2021,188923898,60993.034330,-276955.8,128238
215,8/9/2021,179765766,119118.961600,-468241.2,310412
214,8/8/2021,179452814,60765.743010,-213848.6,168714
213,8/7/2021,178994172,40030.285050,-146565.6,117196
212,8/6/2021,178477208,94131.117000,-334322.8,245196
...,...,...,...,...,...
32,1/13/2021,8025521,1458.262976,-3751.8,3552
31,1/12/2021,7469123,2256.229885,-1484.0,5830
30,1/11/2021,7183660,1420.853516,-2436.6,2139
29,1/10/2021,6834388,1653.385786,-2643.2,4248
20,1/1/2021,3313983,641.879949,-3344.0,-760

In [10]:
X = df.loc[:,['textblob_agg_sentiment','nltk_agg_sentiment','Vader_agg_sentiment']]
y= df['Administered']

In [11]:
y.shape

(239,)

In [12]:
model = LinearRegression()

In [13]:
model.fit(X, y)

LinearRegression()

In [14]:
model.coef_

array([  3.10785065, -40.93119384,   4.79712418])

In [15]:
model.intercept_

81458045.20718002

In [16]:
model.score(X,y)

0.17427042918840685

In [17]:

##https://stackoverflow.com/questions/27928275/find-p-value-significance-in-scikit-learn-linearregression
import statsmodels.api as sm
X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           Administered   R-squared:                       0.174
Model:                            OLS   Adj. R-squared:                  0.164
Method:                 Least Squares   F-statistic:                     16.53
Date:                Sun, 19 Sep 2021   Prob (F-statistic):           8.84e-10
Time:                        13:16:13   Log-Likelihood:                -4628.4
No. Observations:                 239   AIC:                             9265.
Df Residuals:                     235   BIC:                             9279.
Df Model:                           3
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                   8.146e+07    4.9e+06     16.610      0.000    7.18e+07    9.11e+07
textblob_agg_sentiment     3.1079     42.384      0.073      0.942     -80.393      86.609
nltk_agg_sentiment       -40.9312      9.201     -4.449      0.000     -59.058     -22.805
Vader_agg_sentiment        4.7971     22.695      0.211      0.833     -39.915      49.509
==============================================================================
Omnibus:                      358.931   Durbin-Watson:                   0.305
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               18.473
Skew:                           0.100   Prob(JB):                     9.74e-05
Kurtosis:                       1.653   Cond. No.                     1.01e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.01e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

C:\Users\Christopher\anaconda3\envs\mlenv\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)